README.md
Dockerfile
docker-compose.yaml
docker-compose.prod.yaml
docker-compose.staging.yaml
.dockerignore
node_modules
build
.svelte-kit
eslint.config.js
.npmrc
.nvmrc
.prettierignore
.prettierrc
.DS_Store
.git
.gitignore
.env
.env.example