.env
.env.example
README.md

.dockerignore
.docker
Dockerfile
docker-compose.yml

node_modules
build
.svelte-kit
.eslintignore
.eslintrc.cjs
.npmrc
.nvmrc
.prettierignore
.prettierrc
playwright.config.ts
test-results
tests

.DS_Store

caddy
portainer