services:
  website:
    build:
      context: ./
      dockerfile: ./Dockerfile
      args:
        - PUBLIC_UMAMI_WEBSITE_ID=${PUBLIC_UMAMI_WEBSITE_ID:-""}
    environment:
      - PUBLIC_UMAMI_WEBSITE_ID=${PUBLIC_UMAMI_WEBSITE_ID:-""}
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.services.portfolio.loadbalancer.server.port=3000

      # --- tamerhayek.com ---
      - traefik.http.routers.portfolio.rule=Host(`tamerhayek.com`)
      - traefik.http.routers.portfolio.entrypoints=websecure
      - traefik.http.routers.portfolio.tls=true
      - traefik.http.routers.portfolio.tls.certresolver=le

      # --- Router redirect (www.tamerhayek.com -> tamerhayek.com) ---
      - traefik.http.routers.portfolio-www.rule=Host(`www.tamerhayek.com`)
      - traefik.http.routers.portfolio-www.entrypoints=websecure
      - traefik.http.routers.portfolio-www.tls=true
      - traefik.http.routers.portfolio-www.tls.certresolver=le
      - traefik.http.routers.portfolio-www.middlewares=redirect-www-to-non-www
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://127.0.0.1:3000 || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s

networks:
  proxy:
    external: true
