services:
  website:
    build:
      context: ./
      dockerfile: ./Dockerfile
      args:
        - PUBLIC_UMAMI_WEBSITE_ID=${PUBLIC_UMAMI_WEBSITE_ID:-""}
    environment:
      - PUBLIC_UMAMI_WEBSITE_ID=${PUBLIC_UMAMI_WEBSITE_ID:-""}
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.services.portfolio-demo.loadbalancer.server.port=3000

      # --- demo.tamerhayek.com ---
      - traefik.http.routers.portfolio-demo.rule=Host(`demo.tamerhayek.com`)
      - traefik.http.routers.portfolio-demo.entrypoints=websecure
      - traefik.http.routers.portfolio-demo.tls=true
      - traefik.http.routers.portfolio-demo.tls.certresolver=le
      - traefik.http.routers.portfolio-demo.middlewares=portfolio-demo-auth

      # Basic Auth middleware
      - traefik.http.middlewares.portfolio-demo-auth.basicauth.users=tamerhayek:$$apr1$$TnaeRtrr$$RR3ku5NtHe8SmZukk8cJx/
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://127.0.0.1:3000 || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s

networks:
  proxy:
    external: true
