{
	email certs@tamerhayek.com
}

tamerhayek.com {
	encode gzip
	reverse_proxy * portfolio-web:3000
}

www.tamerhayek.com {
	encode gzip
	reverse_proxy * portfolio-web:3000
}

portainer.tamerhayek.com {
	reverse_proxy * portainer:9000
}
